[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/pythoncomplete"]
	path = bundle/pythoncomplete
	url = git://github.com/vim-scripts/pythoncomplete.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = git://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/colors-solarized"]
	path = bundle/colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/colors-railscasts"]
	path = bundle/colors-railscasts
	url = git://github.com/rickharris/vim-railscasts.git
[submodule "bundle/colors-monokai"]
	path = bundle/colors-monokai
	url = git://github.com/rickharris/vim-monokai.git
