[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/phpcomplete"]
	path = .vim/bundle/phpcomplete
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule ".vim/bundle/pythoncomplete"]
	path = .vim/bundle/pythoncomplete
	url = git://github.com/vim-scripts/pythoncomplete.git
[submodule ".vim/bundle/bufexplorer"]
	path = .vim/bundle/bufexplorer
	url = git://github.com/vim-scripts/bufexplorer.zip.git
[submodule ".vim/bundle/xptemplate"]
	path = .vim/bundle/xptemplate
	url = git://github.com/drmingdrmer/xptemplate-dist.git
